@charset "utf-8";
*{margin:0;padding:0;border:0;}
html{overflow-x: hidden; overflow-y: auto; }
body{font-family:微软雅黑,arial;font-size:12px;background:#fff;text-decoration: none;}
#main_body{}
#top{}
#logo{height:100px; overflow:hidden; background: url(../images/logo.png) no-repeat; }
#menu{padding-left: 20px;height:54px; background:url(../images/menu_bg.png); }
#user{ height:30px; background:url(../images/user_bg.png);}
#content{}
#foot{ height:32px; background:url(../images/foot_bg.png) repeat-x; text-align:center; position:absolute; bottom:0; left:0;}
